# Variables

In [ ]:
# variable are used to store data or assign value

a = 90
# a is variable
# 90 is value 

# rule for declaraing varaibles


# 1 there shoud be no space in variable
nu m = 1
# 2 no special characters expect underscore
nu#m = 9
# 3 cannot start with number
9num = 100

In [16]:
nu m =1

SyntaxError: invalid syntax (3504056316.py, line 1)

In [20]:
num = 1

In [14]:
nu#m = 9

NameError: name 'nu' is not defined

In [22]:
num = 9

In [18]:
nu_m = 1

In [24]:
9num = 1

SyntaxError: invalid decimal literal (1345719304.py, line 1)

In [26]:
num9 = 1

In [28]:
num 9 =1

SyntaxError: invalid syntax (242356706.py, line 1)

# data and Datatypes

In [ ]:
# 1 numeric
# 1.1 integer
# 1.2 float
# 2 string

In [32]:
a = 100 #integer
b = 9.4 #float
c = 'adi' #string

In [34]:
# take a variable and give it a value 210
a = 210

In [36]:
# take a varaible and give it a value vashi
b = 'vashi'

In [38]:
# take a varaible and give your emailid as value
c = 'adi@gmail.com'

# print

In [ ]:
# print is used for o/p

In [41]:
print(a)

210

# operation on numeric

In [ ]:
+ >> addition
- >> subtraction
* >> multiply
/ >> divide
** >> power
% >> modulus >> for remiander

In [46]:
a = 10
print(a**3)

1000

In [50]:
b = 1
print(b** 5)

1

In [52]:
b = 10
print(b**5)

100000

In [54]:
a = 25/5

In [56]:
print(a)

5.0

In [58]:
a = 25
print(a%5)

0

In [60]:
a =100
b = 200
print(b%a)

0

In [64]:
num1=100
num2=10

In [90]:
# show the double of num2
print(num2*2)

20

In [68]:
# show the difference of num1 and num2
print(num1 - num2)

90

In [88]:
# show the product of num1 and num2
print(num1*num2)

1000

In [74]:
# show the square of num2
print(num2**2)

100

In [76]:
# show the cube od num2
print(num2**3)

1000

In [92]:
# show the triple of num1
print(num1*3)

300

In [94]:
# show the square root of num1
print(num1**0.5)

10.0

In [84]:
# show the addition of num1,num2 and 30
print(num1+num2+30)

140

In [82]:
# what will be the remainder when we divde by num1 by num2
print(num1%num2)

0

In [86]:
# how many equal parts will be there if we divide num1 by 5
print(num1/5)

20.0

In [100]:
num1=34
# show the 10% of num1

In [104]:
print(num1/9)*100

3.7777777777777777

TypeError: unsupported operand type(s) for *: 'NoneType' and 'int'

In [106]:
print(num1*0.09)

3.06

# operation on string

In [113]:
#concat
name = 'adi'
sur_name = 'salgaonkar'
print(name+sur_name) #concat

adisalgaonkar

In [115]:
print(name-sur_name)

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [117]:
# .upper
print(name.upper())

ADI

In [119]:
# .lower

In [121]:
print(name.lower())

adi

In [123]:
n=25
m=5

In [131]:
# shwo the square of addition of n and m
print((n+m)**2)

900

In [133]:
# show the addition of squares of n and m
print((n)**2+ (m)**2)

650

In [135]:
# show the cube of half of 4
print(2**3)

8

In [137]:
# show the differnece of n and m
print(n-m)

20

In [147]:
# show the 25% of n
print(n*0.25)

6.25

In [139]:
# show the double of cube of m
print(((m)**3)*2)

250

In [141]:
s = 'data'

In [145]:
print(s.upper())

DATA