In [1]:
a = 'adarsh'

In [3]:
print('my name is '+ a )

my name is adarsh

In [5]:
b = 22

In [7]:
print('my name is ' + a + 'i am ' + b + 'years old'

SyntaxError: incomplete input (2620922480.py, line 1)

In [9]:
print('my name is ' +a, 'i am' + b ,'years old'

SyntaxError: incomplete input (2698129469.py, line 1)

In [1]:
name = input('enter you name')

enter you name adi

In [3]:
print(' my name is '+name)

 my name is adi

In [5]:
Name = input("enter your name")

enter your name JOD

In [7]:
print(+ Name + 'have a nice day')

TypeError: bad operand type for unary +: 'str'

In [12]:
print('have a nice day ' + Name)

have a nice day JOD

In [14]:
name_1 = input("enter your name1")

enter your name1 Adi

In [16]:
name2 = input("enter your name2")

enter your name2 jod

In [30]:
print(name_1 + " and " + name2 + " are my friends ")

Adi and jod are my friends

In [32]:
print(upper.+ name_1)

SyntaxError: invalid syntax (2408679591.py, line 1)

In [34]:
a = input("enter a word")

enter a word jodddddd

In [36]:
print(a.upper())

JODDDDDD

In [38]:
sr = input('enter your surname')

enter your surname sal

In [40]:
print( name_1 + ' ' + sr)

Adi sal

In [44]:
a = int(input('enter your num'))

enter your num 4

In [46]:
print(a)

4

In [48]:
# take a number from user and prints its double
num1 = int(input("enter any number"))

enter any number 45

In [50]:
print(num1*2)

90

In [54]:
# take a number from user and print its triple
num2 = int(input("enter any number"))
print(num2*3)

enter any number 20

60

In [56]:
# take three numbers from user ad print the addition of them
num3 = int(input("enter any number"))
num4 = int(input("enter any number2"))
num5 = int(input("enter any number3"))
print(num3+num4+num5)

enter any number 25
enter any number2 25
enter any number3 25

75

In [58]:
# take a number from user and print its cube
num6 = int(input("enter any number"))
print(num6**3)

enter any number 3

27

In [60]:
# take two nu from user and print its product
num7 = int(input("enter any number"))
print(num7*2)

enter any number 10

20

In [66]:
# float
h = float(input("enter your cgpa :"))
print("your cgpa",h)

enter your cgpa : 45.7

your cgpa 45.7

In [76]:
# take any number between 0 and 1 from user and add 3 to it
num8 = float(int(input('enter no bet 0 and 1')))
print(num8+3)

enter no bet 0 and 1 0.1

ValueError: invalid literal for int() with base 10: '0.1'

In [72]:
# take any from user between 1 and 2 and print the double of it

In [80]:
# take radius from user and print the area of circle
r = int(input('enter radius'))
print('area of circle',3.14*r*r)

enter radius 6

area of circle 113.03999999999999

In [82]:
# take one side of square and print its perimeter
s = int(input('enter one side of square'))
print('perimeter',s*4)

enter one side of square 4

perimeter 16

In [126]:
# take rupee value from user and print its doller value (1$ = 80 rs)
x = int(input('value'))
print(x/80,'$')

value 4

0.05 $

In [92]:
# take a number from user and print its 35%
g = int(input('enter num'))
print(g*0.35)

enter num 100

35.0

In [94]:
# take weight of user in kg and give ists gram value
h = int(input('enter weight'))
print(h*1000)

enter weight 1

1000

In [100]:
# take afternoon time in 24hrs fromat from user and give the 12 hr fromat in op (input 20 output 8)
i = 20
print(20 % 12)

8

In [102]:
# take distancce travelled from user and give the ticket amount in op (1k = 20rs)
j = int(input('enter travelled distance')

SyntaxError: incomplete input (3049104586.py, line 2)

In [110]:
# take shopping price from user and give them 20% discont and print the discounter price (input>100,op>80)
k = 100
print(k/20,'discoounter price')

5.0 discoounter price

In [128]:
k = int(input('enter value'))
print(k/80,'$')

enter value 1

0.0125 $

In [132]:
''' 
younger brother is  3 year younger than the elder brother take youger brothers age from user and print elder brothers age'''

l = int(input('enter younger brother age'))
print(l+3)

enter younger brother age 20

23

In [150]:
'''
a person have 3 flowers intitally , the flower increase by 2 as he take a step, 
take number of steps taken by user and print the total number of flowers that  person have at 
last 
(input>4,output>11)
(input2>5,output2>13)'''
m = int(input('no of steps'))
print('no of flowers',3+m*2)

no of steps 4

no of flowers 11

In [158]:
''' a person have 3 flowers intially the flowe get double as he takes a step, take number 
of stips taken by user and print the total number of flowers that person havee 
at last '''
n = int(input('no of steps :'))
print('no of flowers last step :',3*(2**n))

no of steps : 2

no of flowers last step : 12

In [176]:
''' 
take number of shirts and pants purchasd by user and give them 30% discount on 
total amount (1 shirt = 300 rs and 1 pant = 800rs)'''
o = int(input('shirt no'))
p = int(input('pant no'))
print(((o*300)+(p*800))*0.7)

shirt no 1
pant no 1

770.0

In [164]:
# Get the number of shirts and pants purchased from the user
num_shirts = int(input("Enter the number of shirts purchased: "))
num_pants = int(input("Enter the number of pants purchased: "))

# Prices of shirts and pants
shirt_price = 300
pant_price = 800

# Calculate the total amount before discount
total_amount = (num_shirts * shirt_price) + (num_pants * pant_price)

# Calculate the discount
discount = 0.30 * total_amount

# Calculate the final amount after discount
final_amount = total_amount - discount

# Print the final amount
print("The total amount after a 30% discount is: ₹", final_amount)

Enter the number of shirts purchased:  1
Enter the number of pants purchased:  1

The total amount after a 30% discount is: ₹ 770.0