In [9]:
Z=[12,34,56,67]
#1. Add 45
#2. Add 60 at index 3
#3. Extract [34,12]
#4. Remove 3rd element
#5. Extract 2nd highest element

In [13]:
#1. Add 45
Z.append(45)

In [17]:
Z

[12, 34, 56, 67, 45]

In [19]:
#2. Add 60 at index 3
Z.insert(3,60)

In [21]:
Z

[12, 34, 56, 60, 67, 45]

In [27]:
#3. Extract [34,12]
Z[-5:-7:-1]

[34, 12]

In [29]:
#4. Remove 3rd element
Z.remove(56)

In [31]:
Z

[12, 34, 60, 67, 45]

In [33]:
max(Z)

67

In [35]:
#5. Extract 2nd highest element
Z.sort(reverse=True)

In [39]:
Z[1]

60

In [41]:
Z[-4]

60

In [45]:
S = "my name is krishna"
#Extract “krishna”
#Extract “ma”
#Extract  “sir”
#Extract “nis”

In [47]:
#Extract “krishna”
S[11:]

'krishna'

In [53]:
#Extract “ma”
S[-13:-15:-1]

'ma'

In [55]:
#Extract  “sir”
S[-4:-7:-1]

'sir'

In [69]:
#Extract “nis”
S[-4:-16:-5]

'ssa'

In [93]:
S[3:17:5]

'nii'

In [107]:
S[8:11]

'is '

In [109]:
# Dictonary 
# Represented using { }
#{key:value}

In [115]:
s = {'name':'lokesh','location':'vashi'}

In [117]:
s

{'name': 'lokesh', 'location': 'vashi'}

In [121]:
# Q.1 create a dictionary having your name,gender,age & location.
dic1 ={'name':'adi','gender':'male','age':21,'location':'CBD'}

In [123]:
dic1

{'name': 'adi', 'gender': 'male', 'age': 21, 'location': 'CBD'}

In [127]:
# Q.2 create a dictionary of subjects & marks ,subjects maths,hindi,english & science.
dic2 = {'maths':99,'hindi':43,'english':78,'science':89}

In [129]:
dic2

{'maths': 99, 'hindi': 43, 'english': 78, 'science': 89}

## Dictionary property
## Dictionary is ordered.
## Dictionary is mutable.
## Dictionary key is unique..
## keys can have multiple values.
## keys can be repeated.
## values can be repeated.

In [133]:
dic2['hindi'] #dict=name['key']

43

In [135]:
dic3 = {'name:'a','name':'y'} #key cannot be repeated.

SyntaxError: unterminated string literal (detected at line 1) (1101893305.py, line 1)

In [137]:
# keys can have multiple values.
s = {'a':['x','y','z'],'b':['u','v','w']}

In [139]:
s

{'a': ['x', 'y', 'z'], 'b': ['u', 'v', 'w']}

In [144]:
# Q.3 create a dictionary having info of 5 members with their name,age,relation and location.
dic4 = {'name':['adi','rohan','durwang','omkar','sid'],'age':[12,34,43,21,12],'relation':['Father','brother','grandfather','son','uncle'],'location':['vashi','cbd','turbhe','sanpada','kharghar']}

In [146]:
dic4

{'name': ['adi', 'rohan', 'durwang', 'omkar', 'sid'],
 'age': [12, 34, 43, 21, 12],
 'relation': ['Father', 'brother', 'grandfather', 'son', 'uncle'],
 'location': ['vashi', 'cbd', 'turbhe', 'sanpada', 'kharghar']}

In [148]:
# Q.4 show the age of all
dic4['age']

[12, 34, 43, 21, 12]

In [150]:
# Q.5 show the names of all
dic4['name']

['adi', 'rohan', 'durwang', 'omkar', 'sid']

In [154]:
# Q.6 shwo the relation of all
dic4['relation']

['Father', 'brother', 'grandfather', 'son', 'uncle']

## Mutable
### 1.add
### 2.remove
### 3.update

In [10]:
dic5 = {'name':'raj','age':40}
# adding location vashi into dictionary
dic5['location']='vashi'

In [12]:
dic5

{'name': 'raj', 'age': 40, 'location': 'vashi'}

In [14]:
# add gender
dic5['gender']='male'

In [16]:
# add eduction
dic5['eduction']='PHD'

In [18]:
dic5 # o/p

{'name': 'raj',
 'age': 40,
 'location': 'vashi',
 'gender': 'male',
 'eduction': 'PHD'}

In [22]:
# remove age
del dic5['age']

In [24]:
dic5

{'name': 'raj', 'location': 'vashi', 'gender': 'male', 'eduction': 'PHD'}

In [26]:
# remove gender
del dic5['gender']

In [28]:
dic5

{'name': 'raj', 'location': 'vashi', 'eduction': 'PHD'}

In [30]:
# remove eduction
del dic5['eduction']

In [32]:
dic5

{'name': 'raj', 'location': 'vashi'}

### update

In [35]:
# change the name to rahul
dic5['name']='rahul'

In [37]:
dic5

{'name': 'rahul', 'location': 'vashi'}

In [184]:
# Q.1 create a dictonary of info 5 friends having their name,age, gender,location and salary.
dic7 = {'name':['adi','soham','siddhi','mortal','riza'],
        'age':[34,45,32,12,34],
        'gender':['male','male','female','male','female'],
        'location':['Cbd','panvel','airoli','pune','mumbai','keral']}

In [148]:
# Q.2 show the names of all.
dic7['name']

['adi', 'soham', 'siddhi', 'mortal', 'riza']

In [150]:
# Q.3 add salaries of all.
dic7['salary']=[27,56,54,32,67]

In [152]:
# Q.4 remove loction of all
del dic7['location']

In [154]:
dic7

{'name': ['adi', 'soham', 'siddhi', 'mortal', 'riza'],
 'age': [34, 45, 32, 12, 34],
 'gender': ['male', 'male', 'female', 'male', 'female'],
 'salary': [27, 56, 54, 32, 67]}

In [83]:
# Q.4 show the names of first 3 friends.
dic7['name'][0:3]

['adi', 'soham']

In [156]:
# Q.5 remove the name of 3rd person.
del dic7['name'][2]
dic7

{'name': ['adi', 'soham', 'mortal', 'riza'],
 'age': [34, 45, 32, 12, 34],
 'gender': ['male', 'male', 'female', 'male', 'female'],
 'salary': [27, 56, 54, 32, 67]}

In [158]:
# Q.6 remove the age of 3rd person.3
del dic7['age'][2]

In [160]:
dic7

{'name': ['adi', 'soham', 'mortal', 'riza'],
 'age': [34, 45, 12, 34],
 'gender': ['male', 'male', 'female', 'male', 'female'],
 'salary': [27, 56, 54, 32, 67]}

In [162]:
# Q.7 add location of all
dic7['location']='vashi','mumbai','pune','delhi','kerla'

In [164]:
dic7

{'name': ['adi', 'soham', 'mortal', 'riza'],
 'age': [34, 45, 12, 34],
 'gender': ['male', 'male', 'female', 'male', 'female'],
 'salary': [27, 56, 54, 32, 67],
 'location': ('vashi', 'mumbai', 'pune', 'delhi', 'kerla')}

In [166]:
# Q.8 show the name of last employee.
dic7 ['name'][-1:]

['riza']

In [168]:
# Q.9 remove locations of all
del dic7['location']

In [170]:
dic7

{'name': ['adi', 'soham', 'mortal', 'riza'],
 'age': [34, 45, 12, 34],
 'gender': ['male', 'male', 'female', 'male', 'female'],
 'salary': [27, 56, 54, 32, 67]}

In [128]:
dic7 ['name']=['siddhi','rohan','rizza','duri','omkar']
dic7

{'name': ['siddhi', 'rohan', 'rizza', 'duri', 'omkar'],
 'age': [34, 45, 12, 34],
 'gender': ['male', 'male', 'female', 'male', 'female'],
 'salary': (27, 56, 54, 32, 67)}

In [172]:
# Q.10 change the name of 2nd employee to raja/raani.
dic7['name'][1]='raja'

In [174]:
# Q.11 change the salary of 3rd employee to 85
dic7['salary'][2]=85

In [190]:
# Q.12 remove the name of last employee.
del dic7['name'][-1]
dic7

{'name': ['adi', 'soham', 'siddhi', 'mortal'],
 'age': [34, 45, 32, 12, 34],
 'gender': ['male', 'male', 'female', 'male', 'female'],
 'location': ['Cbd', 'panvel', 'airoli', 'pune', 'mumbai', 'keral']}

In [194]:
# Q.13 add bhavesh/bhawna at last of names.
dic7['name'][5]='bhawna' # you cannot add one value.

IndexError: list assignment index out of range

In [202]:
# Q.14 update bhawana at last of names.
dic7['name'][-1]='bhawna'

In [204]:
dic7

{'name': ['adi', 'soham', 'siddhi', 'bhawna'],
 'age': [34, 45, 32, 12, 34],
 'gender': ['male', 'male', 'female', 'male', 'female'],
 'location': ['Cbd', 'panvel', 'airoli', 'pune', 'mumbai', 'keral']}

In [210]:
# show all keys
dic7.keys()

dict_keys(['name', 'age', 'gender', 'location'])

In [208]:
# show all values.
dic7.values()

dict_values([['adi', 'soham', 'siddhi', 'bhawna'], [34, 45, 32, 12, 34], ['male', 'male', 'female', 'male', 'female'], ['Cbd', 'panvel', 'airoli', 'pune', 'mumbai', 'keral']])

In [224]:
# Q.15 show the highest age
max(dic7['age'])

45

In [266]:
# Q.16 show the average age
sum (dic7['age'])/len(dic7['age'])

31.4

In [256]:
sum (dic7['age'])/5

31.4