In [ ]:
# Create a dictionary of 5 employees with their 
 #Name, age , salary , gender

#1. Show the name of all
#2. Show the name of 3rd employee
#3. Show the average salary of all
#4. Show the total amount which the company shares with employees as salary
#5. Add locations of all
#6. Remove the name of 4th employee
#7. Change the name of first employee to karan/kajal
#8. Show the highest age 
#9. Show all the keys

In [1]:
dic1 = {'name':['Adi','Aish','Rom','Sid','Ram'],'Age':[12,23,34,54,32],'Salary':[34,32,12,45,65],'Gender':['Male','Female','Male','Male','Male']}

In [5]:
dic1

{'name': ['Adi', 'Aish', 'Rom', 'Sid', 'Ram'],
 'Age': [12, 23, 34, 54, 32],
 'Salary': [34, 32, 12, 45, 65],
 'Gender': ['Male', 'Female', 'Male', 'Male', 'Male']}

In [7]:
#1. Show the name of all
dic1['name']

['Adi', 'Aish', 'Rom', 'Sid', 'Ram']

In [9]:
#2. Show the name of 3rd employee
dic1['name'][2]

'Rom'

In [11]:
#3. Show the average salary of all
sum (dic1['Salary'])/len(dic1['Salary'])

37.6

In [41]:
#4. Show the total amount which the company shares with employees as salary
sum(dic1['Salary'])

188

In [19]:
#5. Add locations of all
dic1['Location']=['Turbhe','Cbd','kharghar','panvel','csmt']

In [21]:
dic1

{'name': ['Adi', 'Aish', 'Rom', 'Sid', 'Ram'],
 'Age': [12, 23, 34, 54, 32],
 'Salary': [34, 32, 12, 45, 65],
 'Gender': ['Male', 'Female', 'Male', 'Male', 'Male'],
 'Location': ['Turbhe', 'Cbd', 'kharghar', 'panvel', 'csmt']}

In [23]:
#6. Remove the name of 4th employee
del dic1['name'][3]

In [25]:
dic1

{'name': ['Adi', 'Aish', 'Rom', 'Ram'],
 'Age': [12, 23, 34, 54, 32],
 'Salary': [34, 32, 12, 45, 65],
 'Gender': ['Male', 'Female', 'Male', 'Male', 'Male'],
 'Location': ['Turbhe', 'Cbd', 'kharghar', 'panvel', 'csmt']}

In [27]:
#7. Change the name of first employee to karan/kajal
dic1['name'][0]='Karna'

In [29]:
dic1

{'name': ['Karna', 'Aish', 'Rom', 'Ram'],
 'Age': [12, 23, 34, 54, 32],
 'Salary': [34, 32, 12, 45, 65],
 'Gender': ['Male', 'Female', 'Male', 'Male', 'Male'],
 'Location': ['Turbhe', 'Cbd', 'kharghar', 'panvel', 'csmt']}

In [33]:
#8. Show the highest age 
max(dic1['Salary'])

65

In [35]:
#9. Show all the keys
dic1.keys()

dict_keys(['name', 'Age', 'Salary', 'Gender', 'Location'])

# Boolean >> True/False

In [1]:
a =True;

In [5]:
type(a)

bool

# Tuple

### tupele is immutable.(cannot addd or remove or update).
### tuple can contains multiple elements.
### slicing is applicable.
### aggregation functions are applicable.

In [10]:
c=(12,23,34)

In [12]:
type(c)

tuple

In [21]:
# create a tuple of numbers from 1 to 5.
d = (1,2,3,4,5);

# Set

#### 1.set is represented by {}.
#### 2.set can contain multiple elemenets.
#### 3.set is mutable.
#### 4.set is unorderd.
#### 5.set takes only uniques elements.(no repeat value)

In [26]:
s = {12,23,34,45,12,23}

In [30]:
print(s)

{34, 12, 45, 23}

## 1.union >> but common only 1 time all elements.

In [32]:
d = {1,2,3,4,5}
s = {4,5,6,7,8}

In [34]:
d.union(s)

{1, 2, 3, 4, 5, 6, 7, 8}

## 2.intersection >>common only.

In [38]:
d.intersection(s)

{4, 5}

## 3.Difference >> only one set.

In [42]:
d-s

{1, 2, 3}

In [45]:
s-d

{6, 7, 8}

In [55]:
f1 = {'arti','aditya','divya','chanda','ria','rishi'}
f2 = {'deepak','raj','rishi','arti','prakash','jyoti'}

In [57]:
# show the all the friends of both.
f1.union(f2)

{'aditya',
 'arti',
 'chanda',
 'deepak',
 'divya',
 'jyoti',
 'prakash',
 'raj',
 'ria',
 'rishi'}

In [59]:
# show the common friends of both
f1.intersection(f2)

{'arti', 'rishi'}

In [65]:
# show the friends which are friends of both.
f1.intersection(f2)

{'arti', 'rishi'}

In [61]:
# show the friends of f1 which are not  f1  with f2.
f1-f2

{'aditya', 'chanda', 'divya', 'ria'}

In [63]:
# show the friends of f2 which are not friends with f2.
f2-f1

{'deepak', 'jyoti', 'prakash', 'raj'}

In [67]:
# add
d = {12,23,34}

In [69]:
# add 45 to set
d.add(45)

In [73]:
print(d)

{34, 12, 45, 23}

In [75]:
# add 50 to set
d.add(50)

In [77]:
# add 5 to set
d.add(5)

In [81]:
# remove
d = {12,23,34,45,56}
# remove 23 from set
d.remove(23)

In [83]:
d

{12, 34, 45, 56}

In [85]:
# remove 45 from set
d.remove(45)

In [87]:
# remove 35 from set
d.remove(34)

In [95]:
# update >> to add multiple elements.
s = {1,2,3}
# add 4 and 5 to set
s.update([4,5])
print(s)

{1, 2, 3, 4, 5}

In [97]:
# add 6,7,8 to set
s.update([6,7,8])

In [101]:
print(s)

{1, 2, 3, 4, 5, 6, 7, 8}

In [103]:
# converging list to set
k = [120,20,30]
s = set(k)
s

{20, 30, 120}

In [109]:
# converging set to list
d ={1,2,3}
s =list(d)

In [111]:
d

{1, 2, 3}

In [117]:
# converting set to tuple.
m = {1,2,3}
n = tuple(m)

In [119]:
m

{1, 2, 3}

In [130]:
l = [1,2,3]
n = tuple(m)
m

{1, 2, 3}

# complex number >>i+j

In [123]:
d = 4 + 5j

In [125]:
type(d)

complex

## revision all questions from day 1 to till.

In [2]:
# what is the datatype of 45.6
type(46.6)

float

In [4]:
# what is the datatype of '45'
type('45')

str

In [6]:
# take a number from user and print its cube
num1 = input("enter number")
print(num1*3)

enter number 3

333

In [10]:
# take 2 number from user and print the addition in this format >> the sum of __ and __ is __
num2 = input("Enter 1st no")
num3 = input("Enter 2nd no")
print("the sum of",num1,"and",num2,"is =",num1+num2)

Enter 1st no 20
Enter 2nd no 20

the sum of 3 and 20 is = 320

In [12]:
# take a name from user and print its reverse
# c='my name is harsh'
# extract 'harsh'
# h=[10,20,30,40,50,60]
# what is the index number of 40
# add 35 at 3rd index
# remove the 2nd element
# show the total sum of all
# extract [40,30,20]
# a={'maths':45,'science':60,'english':79,'hindi':80}
# show the marks of english
# change the marks of science to 50
# show the total marks
# g={12,23,34,45}
# add 30 to set
# remove 45 from set
# g=[12,23,34,12,23]
# print the unique elements only in list

In [18]:
# take a name from user and print its reverse
a = input("enter name")
a [::-1]

enter name raj

'jar'

In [20]:
# c='my name is harsh'
c='my name is harsh'

In [22]:
# extract 'harsh'
c[11:]

'harsh'

In [24]:
# h=[10,20,30,40,50,60]
h=[10,20,30,40,50,60]

In [28]:
# what is the index number of 40
h.index(40)

3

In [30]:
# add 35 at 3rd index
h.insert(3,35)

In [32]:
h

[10, 20, 30, 35, 40, 50, 60]

In [34]:
# remove the 2nd element
h.remove(2)

ValueError: list.remove(x): x not in list

In [36]:
del h[1]

In [38]:
h

[10, 30, 35, 40, 50, 60]

In [40]:
# show the total sum of all
sum(h)

225

In [42]:
# extract [40,30,20]
h[-3:-6:-2]

[40, 30]

In [44]:
# a={'maths':45,'science':60,'english':79,'hindi':80}
a={'maths':45,'science':60,'english':79,'hindi':80}

In [46]:
# show the marks of english
a['english']

79

In [48]:
# change the marks of science to 50
a['science']=50

In [50]:
a

{'maths': 45, 'science': 50, 'english': 79, 'hindi': 80}

In [58]:
# show the total of all.
sum(a.values())

254

In [60]:
# g={12,23,34,45}
g={12,23,34,45}

In [62]:
# add 30 to set
g.add(30)

In [64]:
g

{12, 23, 30, 34, 45}

In [72]:
# remove 45 from set
g.remove(45)

KeyError: 45

In [74]:
g

{12, 23, 30, 34}

In [76]:
# g=[12,23,34,12,23]
g=[12,23,34,12,23]

In [84]:
# print the unique elements only in list
g = [12, 23, 34, 12, 23]
print(list(set(g)))

[34, 12, 23]

In [88]:
x =set(g)
print(x)

{34, 12, 23}