In [1]:
# # print the cube of 2
# c=[10,20,21,11,30,31,25]
# extract [21,20]
# extract [31,11,20]
# add 26 at 4th position
# remove 2nd element
# a={‘maths’:55,’science’:70,’hindi’:80}
# add marks of english as 75
# remove marks of hindi
# change the marks of maths to 90
# what is total marks obtained
# what is the average marks
# H={12,23,34,45}
# add 20 to H
# add 30,40 and 50 to H
# remove 23 from H
# show the common elements of H with w={90,80,60,50,40}
# z=(11,12,13,14,15)
# extract (13,14)

In [5]:
# # print the cube of 2
print(2**3)

8

In [9]:
# c=[10,20,21,11,30,31,25]
c=[10,20,21,11,30,31,25]

In [11]:
# extract [21,20]
c[-5:-7:-1]

[21, 20]

In [13]:
# extract [31,11,20]
c[-2:-7:-2]

[31, 11, 20]

In [17]:
# add 26 at 4th position
c.insert(5,26);
c

[10, 20, 21, 11, 30, 26, 26, 31, 25]

In [21]:
# remove 2nd element
c.remove(21)

ValueError: list.remove(x): x not in list

In [23]:
c

[10, 20, 11, 30, 26, 26, 31, 25]

In [27]:
# a={‘maths’:55,’science’:70,’hindi’:80}
a={'maths':55,'science':70,'hindi':80}

In [29]:
# add marks of english as 75
a['english']=75
a

{'maths': 55, 'science': 70, 'hindi': 80, 'english': 75}

In [31]:
# remove marks of hindi
del a['hindi']

In [33]:
a

{'maths': 55, 'science': 70, 'english': 75}

In [35]:
# change the marks of maths to 90
a['maths']=90
a

{'maths': 90, 'science': 70, 'english': 75}

In [53]:
# what is total marks obtained
sum(a.values())

235

In [57]:
# what is the average marks
sum(a.values())/len(a)

78.33333333333333

In [59]:
# H={12,23,34,45}
H={12,23,34,45}

In [69]:
# add 20 to H
H.add(20)

In [71]:
H

{12, 20, 23, 34, 45}

In [73]:
# add 30,40 and 50 to H
H.update([30,40])

In [75]:
H

{12, 20, 23, 30, 34, 40, 45}

In [77]:
# remove 23 from H
H.remove(23)

In [79]:
H

{12, 20, 30, 34, 40, 45}

In [99]:
# show the common elements of H with w={90,80,60,50,40}
w={90,80,60,50,40}
w.union(H)

{12, 20, 30, 34, 40, 45, 50, 60, 80, 90}

In [87]:
# z=(11,12,13,14,15)
z=(11,12,13,14,15)

In [93]:
# extract (13,14)
z[2:4]

(13, 14)

# comparison operator
## == equal
## != not equal
## > greater than
## > less than
## >= greater than equal 
## <= less than equal

In [102]:
45-5!=50

True

In [104]:
50%5==50/5

False

In [108]:
50%10==0

True

In [110]:
s='data'
v='python'
len(s)+2==len(v)

True

In [112]:
(len(s)+2)%4==len(v)-4

True

In [114]:
len(s)%2==0

True

# if -else

In [117]:
weather = "raining"

if weather == "raining":
    print("Wear a raincoat.")
else:
    print("Wear a t-shirt.")

Wear a raincoat.

In [119]:
hungry = True  # You are hungry

if hungry:
    print("Eat a snack.")
else:
    print("Drink some water.")

Eat a snack.

In [129]:
# take age from user and check if it is eligible for voting or not.
age = int(input("enter you age"));
if age>=18:
    print("eligible");
else:
    print("not eligible");

enter you age 12

not eligible

In [149]:
''' take a number from user andd check if it is greater than 100 or not if it then print greater else print lesser '''
num1 = int(input('enter a number :'));
if num1>100:
   print('greater');
else:
    print('lesser');

enter a number : 10

lesser

In [155]:
'''take two num from user and check if the sumof both is greater than 100  or not if it is then print greater else print lesser'''
num2 = int(input("enter a num2"))
num3 = int(input("enter a num3"))
if num2+num3>100:
    print('greater')
else:
    print('lesser')

enter a num2 45
enter a num3 555

greater

In [163]:
''' take a num from user '''
num4 = int(input('enter a num4 :'));
if num4>50:
    print(num4*2);
else:
    print(num4**2);

enter a num4 : 60

120

In [169]:
''' take number from user and check if it is even or odd'''
num5 = int(input("enter a num 5:"));
if num5%2 == 0:
    print("even");
else:
    print("odd");

enter a num 5: 45

odd

In [171]:
''' take a number form user and if the '''
num6 = int(input("enter a number :"));
if num6%2 == 0:
    print(num6*2);
else:
    print(num6*3);

enter a number : 45

135

In [191]:
''' che
num7 = int(input("enter a number :"));
if num7%5 ==0:
    print("divisible");
else:
    print("not divisible");

enter a number : 21

not divisible

In [199]:
''' check year is leap or not '''
year = int(input("enter a year"));
if year % 4 == 0:
    print("leap year");
else:
    print("not leap year");

enter a year 2021

not leap year

In [183]:
''' print age is greater than 40 then young  else old'''
age = int(input("enter your age"));
if age<40:
    print("young");
else:
    print("old");

enter your age 43

old

In [195]:
''' decade year then print decade or not decade'''
year2 = int(input("Enter a year: "))

if year % 10 == 0:
    print("is decade");
else:
    print(" is not decade.");

Enter a year:  21

is decade

In [217]:
''' take a name from user and check the length of name is greater than 4 or not , if it is then print greater else print not greater'''
name2 =input("enter a name");
if len(name2) > 4:
    print("greater");
else:
    print("not");

enter a name adiii

a

In [261]:
''' take a name from user and check the length of anme is evern or not, if it is even then print first 3 letters of name  else print reverse of name'''
name4 =input("enter a name");
if len(name4)%2== 0:
    print(name4[0:3]);
else:
    print(name4[::-1]);

enter a name add

dda

In [265]:
''' if even then print first 2 letter of name eles'''
name3 =input("enter a name");
if len(name3) > 4:
    print(name3[2]);
else:
    print(name3[-2]);

enter a name ad

a

In [269]:
''' take a word from user and check if it is palidndrome or not'''
x = input("enter a word");
if x == x[::-1]:
    print("palindrome");
else:
    print("not");

enter a word adi

not

In [283]:
''' take a number forom user and classify it as positive or negative '''
y = int(input("enter a number :"));
if y >= 0:
    print("positive");
else:
    print("negative");

enter a number : -21

negative

In [285]:
''' take two adjecnet side  of a quadrilateral and classify it as square or rectangle'''
side1 = int(input("Enter the length of the first side: "))
side2 = int(input("Enter the length of the second side: "))
if side1 == side2:
    print("The quadrilateral is a square.") # for square you neend to equal both side 
else:
    print("The quadrilateral is a rectangle.")

Enter the length of the first side:  23
Enter the length of the second side:  21

The quadrilateral is a rectangle.

In [295]:
''' take two numbers from user and print the largest one'''
o = int(input("enter number 1;"));
u = int(input("enter number 2"));
if o > u:
    print(o);
else:
    print(u);

enter number 1; 40
enter number 2 25

40