In [5]:
# take the two numbers from user and check if the sum of that two number is even or odd
num1 = int(input("enter any number 1 :"));
num2 = int(input("enter any number 2 :"));

if (num1+num2)%2 == 0:
    print("even");
else:
   print("odd");

enter any number 1 : 5
enter any number 2 : 6

odd

In [17]:
''' take a name from user and check if the length of the name is even
or odd if the length of the name is even then print the name in reverse 
else print the alternate letters of the name '''

name1 = input("enter a name :");

if len(name1)%2 == 0:
    print(name1[::-1]);
else:
    print([2]);

enter a name : adi

adi is odd

In [43]:
''' take distance from user and if the distance is more than 100 then give them 20% discount,else give them 10% discount,
print the discounted ticket price (1km = 20 rs)'''
dist =int(input("Enter distance :"));

if dist >100:
    print((dist*20)*0.8);
else:
    print((dist*20)*0.9);

Enter distance : 12

216.0

In [27]:
''' take marks from user and print pass or fail, if marks is
greater than 35 then pass otherwise fail.'''
marks = int(input("enter marks :"));
if marks >35:
    print("pass");
else:
    print("Fail");

enter marks : 36

pass

# and , or

In [67]:
''' take a number from user and check if it is greater than 50 and 
even.'''
num3 = int(input("enter a number :"));
if num3 > 50 and num3 % 2 == 0:
    print("Yes");
else:
    print("No");

enter a number : 21

No

In [80]:
''' take a number from user and check if it is odd and multiple of 3 ,if it is then 
print its cube '''
num4 = int(input("enter a num :"));
if num4 % 3 == 0 and num4 % 2 != 0:
    print(num4**3);
else:
    print("condition not matched");

enter a num : 9

729

''' take a word from user and check if the length of the word is even or more than 3
if it is then print the word else print the word in reverse '''

In [99]:
''' take a word from user and check if the length of the word is even or more than 3 if it 
is then print the word else print the word in reverse '''

Enter a name : ad

TypeError: not all arguments converted during string formatting

In [111]:
name4 = input("Enter a name :");
if len(name4) % 2 == 0 and len(name4) < 3:
    print(name4);
else:
   print(name4[::-1]);

Enter a name : ad

ad

In [117]:
''' take a name from user and classify them as boy or girl '''
name5 = input("Enter a name :");
if name5[-1]== 'a' or name5[-1]=='i':
    print("boy");
else:
    print("girl");

Enter a name : anjal

girl

In [121]:
''' take a surname from user and classify them as sindhi or non sindhi '''
name6 = input("enter a name :");
if name6[-1] == 'e':
    print("sindhi");
else:
    print("non sindhi");

enter a name : salue

sindhi

In [135]:
''' take a surname from user and classify them as marathi or non marathi'''
name7 = input("enter surname");
if name7[-3::]=='kar' or name7[-1]=='e':
    print("marathi");
else:
    print("non marathi");

enter surname adi

non marathi

## elif

In [146]:
''' take age from usr and classify them as young, adult or old, if age is less than 30 then print young, 
if age is between 31 to 50 then adult else old '''
usr = int(input("Enter your age"));
if usr<=30:
    print("young");
elif usr>31 and usr < 50:
    print("adult");
else:
    print("old");

Enter your age 50

old

In [154]:
age = int(input("ENTR YOUR AGE : "));
if age<20:
    print("Teenage");
elif age>21 and age<30:
    print("young");
elif age>31 and age <50:
    print("adult");
else:
    print("old");

ENTR YOUR AGE :  55

old

In [166]:
''' take a numb
a = int(input("enter a num :"));
if a > 0:
    print("postive");
elif a < 0:
    print("negative");
else:
    print("zero");

enter a num : 0

zero

In [174]:
''' take  angle from user and classify it acute, obtuse or right angle '''

b = int(input("Enter a angle"));

if b < 90:
    print("acute");
elif b > 90:
    print("obtuse");
else:
    print("right angle");

Enter a angle 99

obtuse

In [192]:
c = int(input("enter side 1 "));
d = int(input("enter side 2 "));
e = int(input("enter side 3 "));

if c  == d == e:
    print("equilateral");
elif c == d or d == e or c == e:
    print("isocales");
else:
    print("scalane");

enter side 1  10
enter side 2  12
enter side 3  12

isocales

In [196]:
''' take tota '''

Enter percentage  34

In [212]:
''' take toatl percentage from user and give them a grade 
if percentage is more than 85 then A
if bet 60 and 85 then b
if bet 45 and 60 then c
if bet 35 and 45 then d
else fail '''
per = int(input("Enter percentage "));

if per > 85:
    print("a Grade");
elif per >= 60 and per <= 85:
    print("B grade");
elif per => 45 and per <= 60:
    print("C grade");
elif per => 35 and per <= 45:
    print("D grade");
else:
    ("Fail");

SyntaxError: invalid syntax (723840116.py, line 13)

In [222]:
''' take 3 number from user and print the largest one '''
f = int(input("Enter num1:"));
g = int(input("Enter num2:"));
h = int(input("Enter num3:"));

if f>=g and f>=h:
    print(f);
elif g>=h and g>=f:
    print(g);
else:
    print(h);

Enter num1: 23
Enter num2: 12
Enter num3: 11

23

In [256]:
''' take age and gender from user and print whether they are eligible for retirement or not,
for retirement of male age should be more than 60 and for female age should be more than 55'''
age1 = int(input("enter age :"));
gender = input("Enter gender :");
if age1 > 60 and gender == 'male':
    print("eliigble");
elif age1 > 55 and gender == 'female':
    print("not eligbile");
else:
    print("adult");

enter age : 67
Enter gender : male

eliigble