In [ ]:
''' 1. Write a Python program to calculate the electricity bill based on units consumed:
For the first 100 units: 5rs/unit
For the next 100 units: 10rs/unit
For the next 100 units: 15rs/unit
Above 300 units: 20rs/unit
Take units from user.

2. Write a Python program that takes coordinates (x, y) from user and identifies the quadrant in which the point lies.


3. Write a Python program to convert Celsius to Fahrenheit and check if the converted temperature is above or below freezing (32°F).take celsius temp from user.

4. Write a Python program that takes a fruit name and quantity of fruit from user and returns its total price :
Apple: 200rs/kg
Banana: 80rs/kg
Orange: 120rs/kg
Any other fruit: 80rs/kg'''

In [75]:
''' 1. Write a Python program to calculate the electricity bill based on units consumed:
For the first 100 units: 5rs/unit
For the next 100 units: 10rs/unit
For the next 100 units: 15rs/unit
Above 300 units: 20rs/unit
Take units from user.'''

unit = int(input("enter units for electricity "));

if unit <100:
     print(unit*5,"rs");
elif unit >100 and unit <200:
      print(unit*10,"rs");
elif unit >200 and unit <300:
     print(unit*15,"rs");
elif unit > 300:
     print(unit*20,"rs");
else:
    print("Unit is above to much");

enter units for electricity  99

495 rs

In [31]:
''' 2. Write a Python program that takes coordinates (x, y) from user 
and identifies the quadrant in which the point lies.'''
x = int(input("Enter value of x "));
y = int(input("Enter value of y "));

if x > 0 and y > 0:
    print("Qudarant 1");
elif x < 0 and y > 0:
    print("Qudarant 2");
elif x < 0 and y < 0:
    print("Qudarant 3");
elif x > 0 and y < 0:
    print("Qudarant 4");
else:
    print("Not");

Enter value of x  9
Enter value of y  -7

Qudarant 4

In [63]:
''' 3. Write a Python program to convert Celsius to Fahrenheit and check if the converted temperature is 
above or below freezing (32°F).take celsius temp from user. '''
temp = int(input("ENTER TEMP "));
Fahrenheit = temp*(9/5) + 32;
if Fahrenheit > 32 :
    print("above Freezing");
elif Fahrenheit < 32 :
    print("below Freezing");
else:
    print("Not Freezing");

ENTER TEMP  0

Not Freezing

In [81]:
''' 4. Write a Python program that takes a fruit name and quantity of fruit from user and returns its total price :
Apple: 200rs/kg
Banana: 80rs/kg
Orange: 120rs/kg
Any other fruit: 80rs/kg'''

fruit = input("ENTER FRUIT NAME");
quantity = int(input("ENTER QUANTITY "));

if fruit == 'Apple':
    print(quantity*200);
elif fruit == 'Banana':
    print(quantity*80);
elif fruit == 'Orange':
    print(quantity*120);
else:
    
    print(quantity*80);

ENTER FRUIT NAME Apple
ENTER QUANTITY  5

100

#  loop

In [87]:
## for loop

In [93]:
# print square of all elements of list k
a = [11,12,13,14,15];
for i in a:
    print(i**2);

121
144
169
196
225

In [95]:
# print double of all elements
for i in a:
    print(i*2);

22
24
26
28
30

In [97]:
# print triple of all elements
for i in a:
    print(i*3);

33
36
39
42
45

In [99]:
# add 100 to all elements
for i in a:
    print(i+100);

111
112
113
114
115

In [101]:
# print the half of all elements
for i in a:
    print(i/2);

5.5
6.0
6.5
7.0
7.5

## range (limit)

In [106]:
f = list(range(10,21))
print(f)

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [108]:
d = list(range(10,21,2))
print(d)

[10, 12, 14, 16, 18, 20]

In [112]:
m = set(range(10,20))
print(m)

{10, 11, 12, 13, 14, 15, 16, 17, 18, 19}

In [114]:
n = tuple(range(10,20))
print(n)

(10, 11, 12, 13, 14, 15, 16, 17, 18, 19)

In [116]:
# create a list of integers from 20 to 40
b = list(range(20,41))
print(b);

[20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40]

In [118]:
# create a llist of even interger from 12 to 22
c = list(range(12,23,2))
print(c);

[12, 14, 16, 18, 20, 22]

In [138]:
# create a list of odd interger from 11 to 31
e = list(range(11,32,2))
print(e);

[11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31]

In [130]:
# print the double of every even integer from 20 to 40
for i in range(20,41,2):
    print(i,"double is ",i*2);

20 double is  40
22 double is  44
24 double is  48
26 double is  52
28 double is  56
30 double is  60
32 double is  64
34 double is  68
36 double is  72
38 double is  76
40 double is  80

In [140]:
# print the half of all odd integers from 11 to 19
for i in range(11,20,2):
    print(i,"Half of",i/2);

11 Half of 5.5
13 Half of 6.5
15 Half of 7.5
17 Half of 8.5
19 Half of 9.5

In [160]:
# print the even integers next to all odd integers from 11 to 19
for i in range(11,20,2):
    print("even",i+1);

even 12
even 14
even 16
even 18
even 20

In [158]:
# print the 10% of all integers next to all odd integers from 11 to 19
for i in range(40,51):
    print(i*0.10);

4.0
4.1000000000000005
4.2
4.3
4.4
4.5
4.6000000000000005
4.7
4.800000000000001
4.9
5.0

In [166]:
# print the length of all elements of list
j = ['data','python','science','analyst'];
for i in j:
    print(len(i));

4
6
7
7

In [168]:
# print the first letter of elements
for i in j:
    print(i[0]);

d
p
s
a

In [172]:
# print the last letter of elements
for i in j:
    print(i[-1]);

a
n
e
t

In [176]:
# print the first 2 letters of all elements
for i in j:
    print(i[0:2]);

da
py
sc
an

In [184]:
# print your name 20 times
name = input("ENTER YOUR NAME :");
for i in range(1,21):
    print(name);

ENTER YOUR NAME : adi

adi
adi
adi
adi
adi
adi
adi
adi
adi
adi
adi
adi
adi
adi
adi
adi
adi
adi
adi
adi

In [194]:
# print the intger and double of that integer from 1 to 20
for i in range(1,21):
    print("integer is",i,"Double of",i*2);

integer is 1 Double of 2
integer is 2 Double of 4
integer is 3 Double of 6
integer is 4 Double of 8
integer is 5 Double of 10
integer is 6 Double of 12
integer is 7 Double of 14
integer is 8 Double of 16
integer is 9 Double of 18
integer is 10 Double of 20
integer is 11 Double of 22
integer is 12 Double of 24
integer is 13 Double of 26
integer is 14 Double of 28
integer is 15 Double of 30
integer is 16 Double of 32
integer is 17 Double of 34
integer is 18 Double of 36
integer is 19 Double of 38
integer is 20 Double of 40

In [234]:
# print the table of 3 in the form of 3 * 1 = 3
for i in range(1,11):
    print("3 x  ",i," = ",3*i);

3 x   1  =  3
3 x   2  =  6
3 x   3  =  9
3 x   4  =  12
3 x   5  =  15
3 x   6  =  18
3 x   7  =  21
3 x   8  =  24
3 x   9  =  27
3 x   10  =  30

In [281]:
# take a number from user and print its cube.
num = int(input("ENTER A NUMBER "));
for i in num:
    print(num**3);

ENTER A NUMBER  3

TypeError: 'int' object is not iterable

In [283]:
# print the half of all multiples of 3 from 1 to 30
for i in range(1,31):
    print(i/2*3);

1.5
3.0
4.5
6.0
7.5
9.0
10.5
12.0
13.5
15.0
16.5
18.0
19.5
21.0
22.5
24.0
25.5
27.0
28.5
30.0
31.5
33.0
34.5
36.0
37.5
39.0
40.5
42.0
43.5
45.0

In [287]:
# add 10 to all multiples of 4 from 1 to 40
for i in range(1,41):
    print(i*4+10);

14
18
22
26
30
34
38
42
46
50
54
58
62
66
70
74
78
82
86
90
94
98
102
106
110
114
118
122
126
130
134
138
142
146
150
154
158
162
166
170

In [309]:
l = [12,23,34,45,56];
# print the triple of all elements of list
for num in l:
     print(num*3);

36
69
102
135
168

In [311]:
for num in l:
    print(num/3);

4.0
7.666666666666667
11.333333333333334
15.0
18.666666666666668

In [313]:
for num in l:
    print(num % 2);

0
1
0
1
0

In [315]:
for num in l:
    print(num*0.20);

2.4000000000000004
4.6000000000000005
6.800000000000001
9.0
11.200000000000001

In [357]:
h =['karan','arjun','rakhi','satya']

In [359]:
for i in h:
    print(i[-1:-3:-1]);

na
nu
ih
ay

In [365]:
for i in h:
    print(len(i)*2);

10
10
10
10

In [413]:
for i in h:
    print(i[::-1]);

narak
nujra
ihkar
aytas