In [1]:
 k=[10,12,23,34,45,56]
# print the triple of all numbers of list
# add 100 to all numbers of list
# j=['mom','madam','dad','son','daughter']
# print the length of all words of list
# print the reverse of all words of list

# print the half of all even numbers from 40 to 60

In [9]:
 k=[10,12,23,34,45,56]
# print the triple of all numbers of list

In [13]:
for i in k:
    print(i*3);

30
36
69
102
135
168

In [5]:
for i in k:
    print(i+100);

110
112
123
134
145
156

In [51]:
j=['mom','madam','dad','son','daughter']

In [53]:
for i in j:
    print(len(i));

3
5
3
3
8

In [33]:
for i in j:
    print(i[::-1]);

mom
madam
dad
nos
rethguad

In [39]:
for i in range(40,61,2):
    print(i/2);

20.0
21.0
22.0
23.0
24.0
25.0
26.0
27.0
28.0
29.0
30.0

In [55]:
# print the double of all even numbers from the list
a = [12,23,34,45,56,78]
for i in a:
    if i%2 == 0:
        print(i);

12
34
56
78

In [57]:
# print the double of numbers which are greater than 35 from list.
for i in a:
    if i > 35:
        print(i*2);

90
112
156

In [59]:
# print the numbers which are even and greater than 40 from list
for i in a:
    if i > 40 and i % 2 == 0:
        print(i);

56
78

In [61]:
# print thee double of even numbers and triple of odd numbers from list
for i in a:
    if i % 2 == 0:
        print(i*2);
    elif i % 2 != 0:
        print(i*3);

24
69
68
135
112
156

In [63]:
b=['mom','madam','dad','son','daughter']

In [65]:
# print thee words having length more than 4
for i in b:
    if len(i) > 4:
        print(i);

madam
daughter

In [67]:
# print the words having even length
for i in b:
    if len(i) % 2 == 0:
        print(i);

daughter

In [69]:
# print the words having odd length
for i in b:
    if len(i) % 2 != 0:
        print(i);

mom
madam
dad
son

In [75]:
# print the words which are palindromes
for i in b:
    if i == i[::-1]:
        print(i);

mom
madam
dad

In [79]:
# print the reverse of wordss which are not palindrome
for i in b:
    if i != i[::-1]:
        print(i[::-1]);

nos
rethguad

In [87]:
# print the factors of 20 
for i in range(1,21):
    if 20 % i == 0:
        print(i);

1
2
4
5
10
20

In [99]:
# take a number from user and print the factors of that number
num1 = int(input("ENTER A NUMBER :"));

for i in range(1,num1 + 1):
    if num1 % i == 0:
        print(i);

ENTER A NUMBER : 20

1
2
4
5
10
20

In [101]:
# take a number from user and print its even factors
num2 = int(input("ENTER A NUMBER :"));
for i in range(1,num1 + 1):
    if num2 % i == 0 and i % 2 == 0:
        print(i);

ENTER A NUMBER : 20

2
4
10
20

In [103]:
# take a number from user and print its odd factors
num2 = int(input("ENTER A NUMBER :"));
for i in range(1,num2 + 1):
    if num2 % i == 0 and i % 2 != 0:
        print(i);

ENTER A NUMBER : 20

1
5

In [127]:
# print the llist of even and odd factors of a number
c = [];
d = [];

num3 = int(input("ENTER A NUMBER"));
for i in range(1,num3 + 1):
    if num3 % i == 0  and i % 2 == 0:
        c.append(i);
    elif num3 % i == 0  and i % 2 != 0:
        d.append(i);
print("EVEN FACTOR:",d);
print("ODD FACTORS :",d);

ENTER A NUMBER 20

EVEN FACTOR: [1]
ODD FACTORS : [1]
EVEN FACTOR: [1, 5]
ODD FACTORS : [1, 5]

In [113]:
c

[2, 4, 10, 20]

In [ ]:
num3 = int(input("ENTER A NUMBER"));
for i in range(1,num3 + 1):
    if num3 % i == 0  and i % 2 == 0:
        c.append(i);